#menuBtn {
  display: none;
}

@media (max-width: 768px) {

  .grid {
    grid-template-columns: 1fr;
  }

  nav {
    display: none;
    flex-direction: column;
  }

  nav.open {
    display: flex;
  }

  #menuBtn {
    display: block;
  }

    .characters {
    flex-direction: column;
  }

  .spells {
    flex-direction: column;
  }

}