body {
  font-family: Arial, sans-serif;
  background: #e5e5e5;
  margin: 0;
}

/* HEADER */
header {
  max-width: 420px;
  margin: 20px auto 0 auto;
  background: #0b3c66;
  color: white;
  text-align: center;
  padding: 15px;
}

/* CONTAINER */
.container {
  max-width: 420px;
  margin: 0 auto;
  background: #cfc9ce;
  padding: 15px;
}

/* LABEL */
label {
  display: block;
  margin-top: 12px;
  font-size: 14px;
}

/* INPUTS */
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

/* TEXTAREA */
textarea {
  height: 90px;
}

/* RATING */
.rating {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  text-align: center;
}

/* CHECKBOX */
.checkbox-group {
  margin-top: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.checkbox-group input {
  width: auto;
}

/* BUTTON */
.submit-btn {
  margin-top: 20px;
  padding: 10px;
  background: #0b3c66;
  color: white;
  border: none;
  border-radius: 4px;
}

/* FOOTER */
footer {
  max-width: 420px;
  margin: 0 auto 20px auto;
  background: #0b3c66;
  color: white;
  text-align: center;
  padding: 15px;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  header,
  .container,
  footer {
    margin: 10px;
  }
}