
@media (min-width: 768px) {

  .container {
    max-width: 420px;
    margin: 40px auto;
  }

  footer {
    max-width: 420px;
    margin: 0 auto 30px auto;
    border-radius: 0 0 6px 6px;
  }

  h1 {
    font-size: 22px;
  }

  .rating {
    justify-content: space-around;
  }

  label {
    font-size: 15px;
  }

  input,
  select,
  textarea {
    font-size: 14px;
  }

  .submit-btn {
    font-size: 17px;
    padding: 12px;
  }

}